/* Reset default styles */
html, body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Global styles */
body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

/* Navigation bar styles */
nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  transition: background-color 0.25s ease; /* Add a smooth transition effect for the background color */
  z-index: 1000; /* Set a higher z-index to keep the navigation bar in the foreground */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Display ellipsis (...) for text that overflows */
  height: 100%;
}


nav ul li a {
  color: grey;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  transition: font-size 0.25s ease, background-color 0.25s ease, color 0.25s ease; /* Add a smooth transition effect */
}

nav li:hover {
  transform: scale(1.2); /* Increase the font size on hover (adjust as needed) */
}

.scrolled {
  background-color: Gray;
}

.scrolled ul li a {
  color: white;
  transition: color 0.25 ease; /* Add a smooth transition effect for background color, text color, and padding */
}

/* About section styles */
#about {
  margin-top: 60px; /* Adjust the space between navigation bar and title */
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: left; /* Center the content horizontally */
  text-align: left;
  flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
}

.about-image img {
  max-width: 500px;
  display: block;
  height: auto;
  margin-right: 30px;
}

.about-links {
  display: block; 
  text-align: left;
}

.about-links a {
  display: block;
  text-decoration: none;
}

.about-links a:visited {
  color: blue;
}

.about-links a:hover {
  text-decoration: underline; 
}

.about-description {
  margin-top: 20px;
}

.about-description a {
  text-decoration: none;
}

.about-description a:visited {
  color: blue;
}

.about-description a:hover {
  text-decoration: underline; 
}

h2 {
  text-align: center;
  border-bottom: 2px solid #ccc; /* Add a border under section headings */
  padding-bottom: 5px; /* Add some padding for better spacing */
  margin-bottom: 15px; /* Adjust as needed for spacing between headings and content */
}

h3 {
  border-bottom: 0px solid #ccc; /* Add a border under section headings */
  margin-top: 30px;
  margin-bottom: 5px; /* Adjust as needed for spacing between headings and content */
}

/* Research section styles */
.bibliography li {
  margin-bottom: 5px; /* Adjust as needed for spacing between entries */
  position: relative;
  padding-left: 25px; /* Adjust the padding to control the space between the symbol and the text */
}

.bibliography li::before {
  content: '\2022'; /* Unicode character for a bullet (disc) */
  color: grey; /* Set the color of the disc */
  position: absolute;
  left: 5px; /* Adjust the position of the disc */
}

.bibliography li a {
  text-decoration: none;
}

.bibliography li a:visited {
  color: blue;
}

.bibliography li a:hover {
  text-decoration: underline;
}

/* Code section styles */

.project li {
  margin-bottom: 5px; /* Adjust as needed for spacing between entries */
  position: relative;
  padding-left: 25px; /* Adjust the padding to control the space between the symbol and the text */
}

.project li::before {
  content: '\2022'; /* Unicode character for a bullet (disc) */
  color: grey; /* Set the color of the disc */
  position: absolute;
  left: 5px; /* Adjust the position of the disc */
}

.project li a {
  text-decoration: none;
}

.project li a:visited {
  color: blue;
}

.project li a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: Gray;
  color: white;
  height: 40px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjusted container styles for mobile */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Adjusted about section for mobile */
@media (max-width: 768px) {
  .about-image {
    flex-direction: column;
    align-items: center;
  }

  .about-image img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .about-links {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .about-links li {
    display: inline-flex;
    margin: 2.5px 2.5px;
  }
}

@media (max-width: 768px) {
  .about-description {
    text-align: justify;
  }
}

/* Adjusted navigation bar styles for mobile */
@media (max-width: 768px) {
  nav {
    height: auto;
    padding: 10px 0;
    text-align: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    padding: 5px;
  }
}
